.form-collection {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Header styling */ 
.form-collection h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

/* Search input styling */
.search-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Input styling within table cells */
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Actions buttons styling */
.actions {
  display: flex;
  gap: 35px; /* Add gap between buttons */
}

.actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  opacity: 0.8;
}

.actions button:last-of-type {
  margin-right: 0;
}

/* Save button styling */
.actions button:nth-child(1) {
  background-color: #4CAF50;
  color: white;
}

/* Cancel button styling */
.actions button:nth-child(2) {
  background-color: #f44336;
  color: white;
}

/* Edit button styling */
.actions button:nth-of-type(3) {
  background-color: #ffa500;
  color: white;
}

/* Delete button styling */
.actions button:nth-of-type(4) {
  background-color: red; /* Ensure the delete button is red */
  color: white;
}

/* Pagination styling */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
  background-color: #fff;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination button:hover {
  background-color: #f4f4f4;
}

/* Import and Export buttons styling */
.import-export-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.import-export-buttons input[type="file"] {
  margin-right: 10px;
}

.import-export-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
}

.import-export-buttons button:hover {
  background-color: #1e88e5;
}









  
  
  
  
  
  